.button {
  background: linear-gradient(109.51deg, #b62c56 -5.18%, #f48693 98.3%);
  border-radius: 50px;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 12px 2.5rem;
  cursor: pointer;
}
