.themeButton {
  position: relative;
  width: 30px;
  border: none;
  background: rgba(0, 0, 0, 0);
  margin-left: 15px;
}
.themeIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 5px;
  left: 0;
}
