.filterButton {
  display: flex;
  background: var(--filter-background);
  box-shadow: var(--filter-shadow);
  border-radius: 50px;
  border: none;
  padding: 5px 2rem;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--blue-light);
  text-transform: capitalize;
  transition: 0.2s all linear;
  &:not(:last-of-type) {
    margin-right: 10px;
  }
  &.active {
    background-color: var(--blue-light);
    color: #ffffff;
  }
  &.readOnly:not(.rounded) {
    background: #ffffff;
    border: 2px solid var(--blue-light);
    color: var(--blue-light);
  }
  &.rounded {
    color: var(--transparent);
    width: 30px;
    height: 30px;
    padding: 0;
  }
}
