.listWrapper {
  display: block;
  position: relative;
  min-width: 100%;
  width: 300px;
  margin-top: 20px;
  .heroWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100vh - 60px - 250px);
    padding-top: 1rem;
    .heroLogo {
      width: 180px;
      height: 180px;
    }
  }
  .recipes {
    padding: 60px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    background-color: #fff;
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    .list {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 10px;
      margin: 0 auto;
      & > div {
        width: 300px;
        margin: 20px;
        align-self: center;
        justify-self: center;
      }
      & > div > a {
        border-radius: 20px;
        overflow: hidden;
      }
    }
  }
}

.tile {
  position: relative;
  display: block;
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: " ";
    background: linear-gradient(transparent, black);
  }
  .tileTitle,
  .tileInstructionCount,
  .tileIngredientCount {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    color: white;
    transition: 0.5s color linear;
  }
  .tileInstructionCount {
    bottom: 4rem;
  }
  .tileIngredientCount {
    bottom: 3rem;
  }
  &:hover .tileTitle {
    text-decoration: underline;
  }
}

.notFound {
  padding: 20px 0 5px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.filterDisplay {
  display: none;
  position: absolute;
  top: 40px;
  left: 160px;
  width: calc(100% - 170px);
  bottom: 1rem;
  z-index: 1;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .listWrapper {
    margin-top: 10px;
    z-index: 10;
    .heroWrapper {
      height: auto;
      margin-bottom: 0;
      padding-top: 0;
      .heroLogo {
        width: 84px;
        height: 84px;
      }
      h1 {
        font-size: 1.5rem;
      }
      .buttonWrapper {
        display: none;
      }
    }
    .recipes {
      padding: 10px;
      width: 100%;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      .filterTitleText {
        display: none;
      }
      & > .tile:not(:last-child) {
        margin-bottom: 1rem;
      }
      & > *:not(:last-child) {
        margin-bottom: auto;
      }
      .list {
        grid-gap: 0;
        padding: 0;
        margin: 0 auto;
        & > div {
          width: 100%;
          margin: 8px;
        }
      }
    }
  }
  .filterDisplay {
    display: block;
  }
  .tile {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.15);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    &::after {
      top: 10px;
      left: 10px;
      width: 140px;
      height: 140px;
      border-radius: 20px;
    }
    .tileTitle,
    .tileInstructionCount,
    .tileIngredientCount {
      position: absolute;
      left: 160px;
      width: calc(100% - 170px);
      bottom: 1rem;
      z-index: 1;
      color: black;
    }
    .tileTitle {
      top: 5px;
      font-size: 1.3rem;
    }
    .tileInstructionCount,
    .tileIngredientCount {
      top: auto;
      font-size: 1rem;
    }
    .tileIngredientCount {
      bottom: 2rem;
    }
    img {
      width: 140px;
      height: 140px;
      margin: 10px;
      border-radius: 20px;
    }
  }
}
