.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  top: 0;
  box-shadow: var(--box-shadow);
  font-weight: bold;
  background-color: var(--background-dark);
  z-index: 9001;
  height: 60px;
  transition: 0.5s all;
  &.hidden {
    transform: translateY(-60px);
    opacity: 0;
  }
  .headerLink {
    display: inline-block;
    text-decoration: none;
    position: relative;
    height: 50px;
    top: -5px;
    &:hover {
      text-decoration: underline;
    }
  }
  .logo {
    width: 50px;
    border-radius: 12px;
  }
  .themeWrapper {
    display: flex;
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 800px) {
  .header {
    display: none !important;
  }
}
