.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  top: 0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
  font-weight: bold;
  background-color: #f9f9f9;
  z-index: 9001;
  height: 60px;
  transition: 0.5s all;
}
.header.hidden {
  transform: translateY(-60px);
  opacity: 0;
}
.headerLink {
  display: inline-block;
  color: black;
  text-decoration: none;
  position: relative;
  height: 50px;
  top: -5px;
}
.headerLink:hover {
  text-decoration: underline;
}
.logo {
  width: 50px;
  border-radius: 12px;
}
.themeWrapper {
  display: flex;
  margin-bottom: 7px;
}
