body {
  background-color: var(--background-dark);
}
.main {
  position: relative;
  padding: 1rem;
  min-height: calc(100vh - 80px);
  z-index: 10;
}
.container {
  margin: 0 auto;
}
.themeButtonWrapper {
  position: absolute;
  top: 20px;
  z-index: 9001;
  width: 100vw;
  transition: 0.5s opacity;
  display: none;
  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
  button {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    min-height: calc(100vh - 80px);
  }
  .themeButtonWrapper {
    display: block;
  }
}
