body {
  background-color: var(--background-dark);
}
.main {
  position: relative;
  padding: 1rem;
  min-height: calc(100vh - 80px);
  z-index: 10;
}
.container {
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .main {
    min-height: calc(100vh - 80px);
  }
}
